.box {
    width: 200px;
    text-align: center;
    border: 1px solid silver;
    padding: 10px;
    border-radius: 25px;
}

.yearly {
    background-color: lightgreen;
}

.monthly {
    background-color: lightblue;
}